/*common*/
.bblue{background-color: #015B7E;}
.white{color:#fff;}
.gray{color:#999;}
.fl{float:left;}
.tc{text-align: center;}
/*detail*/
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}
#holder {
    height: 600px;
    margin: -300px 0 0 -300px;
    width: 600px;
}
#img{
  position: absolute;
  top:6px;
  left:7px;
}
#codeDiv{padding:10px;margin-left: 5%;font-size: 1.2em;word-wrap: break-word;width: 60%;}
<![CDATA[
.strokeCss{
  stroke-width:2;
  stroke:'blue';
}
]]>

