<ion-view view-title="发现">
	<div header value="wechat_h"></div> 
	
	<ion-content class="bg-silver" on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()">
		<div class="list">
			<a href="#" class="item mt10">
				<i class="ion-ios-flower icon-css navy"></i>朋友圈
			</a>
			<a href="#" class="item mt10">
				<i class="ion-android-expand icon-css blue"></i>扫描QR Code
			</a>
			<a href="#" class="item">
				<i class="ion-android-hand icon-css blue"></i>摇一摇
			</a>
			<a href="#" class="item mt10">
				<i class="ion-ios-game-controller-b icon-css maroon"></i>游戏
			</a>
		</div>
	</ion-content>
</ion-view>

