<div ng-controller="tabController">
	<ion-nav-view name="tab"></ion-nav-view>
	<div class="tabs tabs-dark tabs-bottom">
		<a class="tab-item {{tab.active}}" ng-repeat="tab in tabs" ng-click="selectTab(this.$index)" title="{{tab.title}}" icon="icon {{tab.icon}}" href="{{tab.url}}">
		  <!--标签 1 内容-->
		  	<i class="{{tab.icon}}">{{tab.title}}</i>
		</a>

		<!-- <ion-tab title="WeChat" icon="ion-chatbubbles" href="#/tab/WeChat">
		  标签 1 内容
		  <ion-nav-view name="WeChat-tab"></ion-nav-view>
		</ion-tab>
		
		<ion-tab title="通讯录" icon="ion-person-stalker" href="#/tab/contact">
		  标签 2 内容
		  <ion-nav-view name="contact-tab"></ion-nav-view>
		</ion-tab>
		
		<ion-tab title="发现" icon="ion-flash-off" href="#/tab/find">
		  标签 3 内容
		  <ion-nav-view name="find-tab"></ion-nav-view>
		</ion-tab>
		
		<ion-tab title="我的设定" icon="ion-person" href="#/tab/set">
		  标签 3 内容
		  <ion-nav-view name="set-tab"></ion-nav-view>
		</ion-tab> -->
	</div>
</div>


