<ion-view view-title="设定">
	<div header value="wechat_h"></div> 
	
	<ion-content class="bg-silver" on-swipe-right="swipeRight()">
		<div class="list">
			<a href="#" class="item mt10 fix">
				<img class="thum-img fl mr10" src="{{user.user.picture.thumbnail}}"/>
				<div>{{user.user.username}}</div>
				<div class="c999 f12">WeChat ID:{{user.user.phone}}</div>
			</a>
			<a href="#" class="item mt10">
				<i class="ion-image icon-css blue"></i>相簿
			</a>
			<a href="#" class="item">
				<i class="ion-cube icon-css blue"></i>收藏
			</a>
			<a href="#" class="item  mt10">
				<i class="ion-cash icon-css blue"></i>钱包
			</a>
			<a href="#" class="item">
				<i class="ion-ios-photos icon-css blue"></i>卡包
			</a>
			<a href="#" class="item mt10">
				<i class="ion-ios-gear icon-css blue"></i>设定
			</a>
		</div>
	</ion-content>
</ion-view>